<%- include("header"); -%>
    
    
    <div class="box" id="heading">
        <h1><%= dayName %></h1>
        <h2><%= title %></h2>
    </div>

    <div class="box">

        <% listItems.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" onchange="this.form.submit()" value= <%= item._id %> >
                    <p> <%= item.itemName %> </p>
                </div>
                <input type="hidden" name="list" value= <%= title %> >
            </form>    
        <% }) %>
            
        <form class="item" action="/" method="post">
            <input type="text" name="todo" placeholder="today's work" autocomplete="off">
            <button class="submitbut" type="submit" name="button" value= <%= listName %> >+</button>
        </form>              
    </div>

    <div class= "navbut">
        <a href="/"> <button class="btn"> Go To Home </button> </a>
        <a href="/work"> <button class="btn"> Go To Work </button> </a>
    </div>

<%- include("footer"); -%>